In [1]:
from src import datasets
import numpy as np
import pandas as pd
import pandas_ta as ta

In [2]:
tickers = ['AAPL', 'MSFT', 'GOOG', 'META', 'TSLA']
dataset = datasets.Dataset(tickers, '2010-01-01', '2023-12-31')

[*********************100%%**********************]  5 of 5 completed

In [3]:
X = dataset.features()

In [4]:
X.columns

Index(['AAPL_close_0', 'AAPL_close_MACD_12_26_9', 'AAPL_close_MACDh_12_26_9',
       'AAPL_close_MACDs_12_26_9', 'AAPL_close_BBL_5_2.0',
       'AAPL_close_BBM_5_2.0', 'AAPL_close_BBU_5_2.0', 'AAPL_close_BBB_5_2.0',
       'AAPL_close_BBP_5_2.0', 'AAPL_close_STOCHk_14_3_3',
       'AAPL_close_STOCHd_14_3_3', 'GOOG_close_0', 'GOOG_close_MACD_12_26_9',
       'GOOG_close_MACDh_12_26_9', 'GOOG_close_MACDs_12_26_9',
       'GOOG_close_BBL_5_2.0', 'GOOG_close_BBM_5_2.0', 'GOOG_close_BBU_5_2.0',
       'GOOG_close_BBB_5_2.0', 'GOOG_close_BBP_5_2.0',
       'GOOG_close_STOCHk_14_3_3', 'GOOG_close_STOCHd_14_3_3', 'META_close_0',
       'META_close_MACD_12_26_9', 'META_close_MACDh_12_26_9',
       'META_close_MACDs_12_26_9', 'META_close_BBL_5_2.0',
       'META_close_BBM_5_2.0', 'META_close_BBU_5_2.0', 'META_close_BBB_5_2.0',
       'META_close_BBP_5_2.0', 'META_close_STOCHk_14_3_3',
       'META_close_STOCHd_14_3_3', 'MSFT_close_0', 'MSFT_close_MACD_12_26_9',
       'MSFT_close_MACDh_12_26_9', 'MSFT_close_MACDs_12_26_9',
       'MSFT_close_BBL_5_2.0', 'MSFT_close_BBM_5_2.0', 'MSFT_close_BBU_5_2.0',
       'MSFT_close_BBB_5_2.0', 'MSFT_close_BBP_5_2.0',
       'MSFT_close_STOCHk_14_3_3', 'MSFT_close_STOCHd_14_3_3', 'TSLA_close_0',
       'TSLA_close_MACD_12_26_9', 'TSLA_close_MACDh_12_26_9',
       'TSLA_close_MACDs_12_26_9', 'TSLA_close_BBL_5_2.0',
       'TSLA_close_BBM_5_2.0', 'TSLA_close_BBU_5_2.0', 'TSLA_close_BBB_5_2.0',
       'TSLA_close_BBP_5_2.0', 'TSLA_close_STOCHk_14_3_3',
       'TSLA_close_STOCHd_14_3_3'],
      dtype='object')

In [5]:
close = dataset.data['Adj Close']
ta_close = []

for ticker in close.columns:
    df = pd.DataFrame(close[ticker])
    df.columns = ['close']
    df.ta.bbands(append=True)
    df.columns = [f'{ticker}_{col}' for col in df.columns]
    ta_close.append(df)

pd.concat(ta_close, axis=1)

,AAPL_close,AAPL_BBL_5_2.0,AAPL_BBM_5_2.0,AAPL_BBU_5_2.0,AAPL_BBB_5_2.0,AAPL_BBP_5_2.0,GOOG_close,GOOG_BBL_5_2.0,GOOG_BBM_5_2.0,GOOG_BBU_5_2.0,...,MSFT_BBM_5_2.0,MSFT_BBU_5_2.0,MSFT_BBB_5_2.0,MSFT_BBP_5_2.0,TSLA_close,TSLA_BBL_5_2.0,TSLA_BBM_5_2.0,TSLA_BBU_5_2.0,TSLA_BBB_5_2.0,TSLA_BBP_5_2.0
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,6.478999,NaN,NaN,NaN,NaN,NaN,15.610239,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,6.490200,NaN,NaN,NaN,NaN,NaN,15.541497,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,6.386965,NaN,NaN,NaN,NaN,NaN,15.149715,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,6.375157,NaN,NaN,NaN,NaN,NaN,14.797037,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-08,6.417542,6.335795,6.429772,6.523750,2.923192,0.434926,14.994298,14.592193,15.218557,15.844922,...,23.329290,23.618935,2.483095,0.371675,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,193.600006,192.912870,195.188000,197.463131,2.331220,0.151010,142.720001,135.679371,139.894003,144.108635,...,372.929999,375.555718,1.408156,0.814197,252.539993,246.063115,252.695999,259.328883,5.249695,0.488240
2023-12-26,193.050003,191.946369,194.620001,197.293634,2.747541,0.206392,142.820007,137.319800,141.020004,144.720209,...,373.332001,376.261094,1.569163,0.726692,256.609985,246.345020,253.601996,260.858972,5.723122,0.707248
2023-12-27,193.149994,192.354400,193.862000,195.369599,1.555333,0.263861,141.440002,139.401822,141.688004,143.974185,...,373.494000,376.478324,1.598057,0.596505,261.440002,245.039091,254.445996,263.852901,7.394029,0.871749
2023-12-28,193.580002,192.455776,193.612000,194.768223,1.194372,0.486163,141.279999,140.727607,142.012003,143.296399,...,374.426001,375.598859,0.626483,0.864067,253.179993,249.232705,255.653995,262.075284,5.023422,0.307359
2023-12-29,192.529999,192.393743,193.182001,193.970258,0.816078,0.086428,140.929993,140.279409,141.838000,143.396592,...,374.926001,376.279377,0.721943,0.911566,248.479996,245.758496,254.449994,263.141492,6.831596,0.156561

In [6]:
data = dataset.data.copy()
data

Price        Adj Close                                                  \
Ticker            AAPL        GOOG        META        MSFT        TSLA
Date
2010-01-04    6.478999   15.610239         NaN   23.474922         NaN
2010-01-05    6.490200   15.541497         NaN   23.482500         NaN
2010-01-06    6.386965   15.149715         NaN   23.338402         NaN
2010-01-07    6.375157   14.797037         NaN   23.095675         NaN
2010-01-08    6.417542   14.994298         NaN   23.254953         NaN
...                ...         ...         ...         ...         ...
2023-12-22  193.600006  142.720001  353.390015  374.579987  252.539993
2023-12-26  193.050003  142.820007  354.829987  374.660004  256.609985
2023-12-27  193.149994  141.440002  357.829987  374.070007  261.440002
2023-12-28  193.580002  141.279999  358.320007  375.279999  253.179993
2023-12-29  192.529999  140.929993  353.959991  376.040009  248.479996

Price            Close                                                  ...  \
Ticker            AAPL        GOOG        META        MSFT        TSLA  ...
Date                                                                    ...
2010-01-04    7.643214   15.610239         NaN   30.950001         NaN  ...
2010-01-05    7.656429   15.541497         NaN   30.959999         NaN  ...
2010-01-06    7.534643   15.149715         NaN   30.770000         NaN  ...
2010-01-07    7.520714   14.797037         NaN   30.450001         NaN  ...
2010-01-08    7.570714   14.994298         NaN   30.660000         NaN  ...
...                ...         ...         ...         ...         ...  ...
2023-12-22  193.600006  142.720001  353.390015  374.579987  252.539993  ...
2023-12-26  193.050003  142.820007  354.829987  374.660004  256.609985  ...
2023-12-27  193.149994  141.440002  357.829987  374.070007  261.440002  ...
2023-12-28  193.580002  141.279999  358.320007  375.279999  253.179993  ...
2023-12-29  192.529999  140.929993  353.959991  376.040009  248.479996  ...

Price             Open                                                  \
Ticker            AAPL        GOOG        META        MSFT        TSLA
Date
2010-01-04    7.622500   15.615220         NaN   30.620001         NaN
2010-01-05    7.664286   15.620949         NaN   30.850000         NaN
2010-01-06    7.656429   15.588072         NaN   30.879999         NaN
2010-01-07    7.562500   15.178109         NaN   30.629999         NaN
2010-01-08    7.510714   14.744733         NaN   30.280001         NaN
...                ...         ...         ...         ...         ...
2023-12-22  195.179993  142.130005  355.579987  373.679993  256.760010
2023-12-26  193.610001  142.979996  354.989990  375.000000  254.490005
2023-12-27  192.490005  142.830002  356.070007  373.690002  258.350006
2023-12-28  194.139999  141.850006  359.700012  375.369995  263.660004
2023-12-29  193.899994  140.679993  358.989990  376.000000  255.100006

Price          Volume
Ticker           AAPL       GOOG        META      MSFT         TSLA
Date
2010-01-04  493729600   78541293         NaN  38409100          NaN
2010-01-05  601904800  120638494         NaN  49749600          NaN
2010-01-06  552160000  159744526         NaN  58182400          NaN
2010-01-07  477131200  257533695         NaN  50559700          NaN
2010-01-08  447610800  189680313         NaN  51197400          NaN
...               ...        ...         ...       ...          ...
2023-12-22   37122800   18494700  11764200.0  17091100   93249800.0
2023-12-26   28919300   11170100   9898600.0  12673100   86892400.0
2023-12-27   48087700   17288400  13207900.0  14905400  106494400.0
2023-12-28   34049900   12192500  11798800.0  14327000  113619900.0
2023-12-29   42628800   14872700  14980500.0  18723000  100615300.0

[3522 rows x 30 columns]

In [7]:
X,y = datasets.load_train_test()

[*********************100%%**********************]  6 of 6 completed

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2825,) + inhomogeneous part.

In [ ]:
print(X.shape, y.shape)

(704, 10, 6) (704, 6)